<!DOCTYPE html>

<html>
<head>
    <title>Мои пиццерии</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h2 style="color: red">ОШИБКА</h2>

    

</body>
</html>
