@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Employee

<!DOCTYPE html>

<html>
<head>
    <title>Вход</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link href="~/css/StyleForms.css" rel="stylesheet"  />
    <style>

    </style>
</head>
<body>
    <form asp-controller="home" asp-action="login_app" method="post" class="form_login" style="margin-top:60px">
        <div class="form_el">
            <label asp-for="Login"></label>
            <input type="text" asp-for="Login" class="border-class"/>
            <span asp-validation-for="Login"></span>
        </div>
        <div class="form_el">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="border-class"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form_el">
            
            <input type="submit" value="Войти" />
        </div>
    </form>

</body>
</html>
