<div style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%">
	<form asp-controller="home" asp-action="new_client" method="post">
                     <input  type="submit" value="Новый клиент"  class="button_place" />
                </form>
</div>
