@model WebApplication.Data.Entity.Employee

@{
    string Fname = ViewBag.NameOne;
    string Mname = ViewBag.NameTwo;

}

<div>Добро пожаловать в окно администрирования, @Fname  @Mname  !</div>
<div>Вы из пиццерии номер  @ViewBag.PizzIdBag </div>

