@model IEnumerable<WebApplication.Data.Entity.Ingredient>

<div class="panel_container">

    <table class="table_block">
            <tr>
                <th>Название</th>
                <th>Масса</th>
                <th>Цена</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            { 
                
                    <tr>
                        <td>@item.IngredientName</td>
                        <td>@item.Mass</td>
                        <td>@item.Price</td>
                        <td><a asp-action="ingreds_reactive" asp-controller="home" asp-route-id="@item.IngredientId">Убрать из меню</a></td>
                    </tr>
               
            }
        </table>

    <div class="flex_wrapper">

        <form asp-controller="home" asp-action="ingreds_panel_form" method="post">
                <input type="submit" value="Добавить"  class="button_place" />
            </form>

        <form asp-controller="home" asp-action="ingreds_unactive" method="post">
                <input style="background-color: #e74c36" type="submit" value="Восстановить"  class="button_place" />
            </form>


    </div>

</div>
