@model IEnumerable<WebApplication.Data.Entity.PizzaInMenu>

<div class="panel_container">
        <table class="table_block">
            <tr>
                <th>Название</th>
                <th>Состав:</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            { 
                
                    <tr>
                        <td>@item.PizzaInMenuName</td>
                        <td>@item.Components</td>
                        <td><a asp-action="pizzas_detali" asp-controller="home" asp-route-id="@item.PizzaInMenuId">Подробнее</a></td>
                        <td><a asp-action="pizzas_reactive" asp-controller="home" asp-route-id="@item.PizzaInMenuId">Убрать из меню</a></td>
                    </tr>
               
            }
        </table>

    <div class="flex_wrapper">

        <form asp-controller="home" asp-action="pizzas_panel_form" method="post">
                <input type="submit" value="Добавить"  class="button_place" />
            </form>

        <form asp-controller="home" asp-action="pizzas_unactive" method="post">
                <input style="background-color: #e74c36" type="submit" value="Восстановить"  class="button_place" />
            </form>


    </div>
        </div>